<div class="jumbotron">
<h1>Udacity Rails Bootcamp</h1>
</div>


<%#p>Find me in app/views/welcome/index.html.erb</p %>
<div class="navbar navbar-fixed-bottom" style="box-shadow: -10px -10px 5px #CCCCCC;" inverse>
  <div class="btn navbar-btn btn-large btn-success"><%= link_to "My Blog", posts_path %></div>
</div>

