<div class="container">
  <div class="page-header"><h1>Editing post</h1></div>

<%= render 'form' %> 
  
<button type="button" class="btn btn-default"><%= link_to 'Back', posts_path %></button>

</div>