<div class="container">
<h1 class="page-header">New post</h1>

  <%# using class input-group makes input fields small by default ... span class="input-group" %>
<%= render 'form' %>
  
  <button type="button" class="btn btn-default" ><%= link_to 'Cancel', posts_path %></button>

</div>